
<div class="background" style="width:100%; height: 500px; background: url('https://media.gucci.com/content/HomepageVideoBackgroundMedium_1536x896/1550689204/HomepageVideoBackgroundMedium_S93-FS-LINEUP_001_Default.jpg') no-repeat; background-size: 100%;">
</div>

<nav class="filter-nav">
    <ul>
        <li class="filter-nav-dropdown">
            <button class="filter-dropdown-category-button">Catégorie<span><img class="category-arrow-target filter-arrow" src="https://www.shareicon.net/data/128x128/2016/09/14/829020_down_512x512.png"></span></button>
            <div class="filter-dropdown-category-content">
                <div class="filter-dropdown-classique">
                    <h5>
                        <a href="#"><span class="span-deco">Classique</span></a>
                    </h5>
                    <ul>
                        <li class="filter-category-items">
                            <a href="#"><span>Tout</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Vestes & manteaux</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Pull & Gillet</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Robes & Combinaisons</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Blazers</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Chemises & Blouses</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>T-shirts & Tops</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Polos</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Jeans & Pantalons</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Shorts & Jupes</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Maillots de bain</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Lingerie</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Vêtement d'intérieur & Pyjamas</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Chaussettes & Collants</span></a>
                        </li>
                    </ul>
                </div>
                <div class="filter-dropdown-urban">
                    <h5>
                        <a href="#"><span>Urbain</span></a>
                    </h5>
                    <ul>
                        <li class="filter-category-items">
                            <a href="#"><span>Tout</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Vestes & Manteau</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Sweats</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>T-shirt</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Jeans & Pantalons</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Jupes & Shorts</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Maillots de bain</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Lingerie</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Vêtement d'intérieur & Pyjamas</span></a>
                        </li>
                        <li class="filter-category-items">
                            <a href="#"><span>Chaussettes & Collants</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="filter-nav-dropdown">
            <button class="filter-dropdown-color-button">Filtrer<span><img class="color-arrow-target filter-arrow" src="https://www.shareicon.net/data/128x128/2016/09/14/829020_down_512x512.png"></span></button>
            <div class="filter-dropdown-color-content">
                <div>
                    <h3 class="color-tiltle">
                        <span>Couleur</span>
                    </h3>
                    <div>
                        <ul class="filtre-color-ul">
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-bleu" type="checkbox" name="color1">
                                <label class="checkbox-color-label" for="checkbox-color-bleu">
                                    <span>BLEU</span>
                                </label>
                            </li>
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-blanc" type="checkbox" name="color2">
                                <label class="checkbox-color-label" for="checkbox-color-blanc">
                                    <span>BLANC</span>
                                </label>
                            </li>
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-gris" type="checkbox" name="color3">
                                <label class="checkbox-color-label" for="checkbox-color-gris">
                                    <span>GRIS</span>
                                </label>
                            </li>
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-violet" type="checkbox" name="color4">
                                <label class="checkbox-color-label" for="checkbox-color-violet">
                                    <span>VIOLET</span>
                                </label>
                            </li>
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-rouge" type="checkbox" name="color5">
                                <label class="checkbox-color-label" for="checkbox-color-rouge">
                                    <span>ROUGE</span>
                                </label>
                            </li>
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-beige" type="checkbox" name="color6">
                                <label class="checkbox-color-label" for="checkbox-color-beige">
                                    <span>BEIGE</span>
                                </label>
                            </li>
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-noir" type="checkbox" name="color1">
                                <label class="checkbox-color-label" for="checkbox-color-noir">
                                    <span>NOIR</span>
                                </label>
                            </li>
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-jaune" type="checkbox" name="color2">
                                <label class="checkbox-color-label" for="checkbox-color-jaune">
                                    <span>JAUNE</span>
                                </label>
                            </li>
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-vert" type="checkbox" name="color3">
                                <label class="checkbox-color-label" for="checkbox-color-vert">
                                    <span>VERT</span>
                                </label>
                            </li>
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-rose" type="checkbox" name="color4">
                                <label class="checkbox-color-label" for="checkbox-color-rose">
                                    <span>ROSE</span>
                                </label>
                            </li>
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-marron" type="checkbox" name="color5">
                                <label class="checkbox-color-label" for="checkbox-color-marron">
                                    <span>MARRON</span>
                                </label>
                            </li>
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-or" type="checkbox" name="color6">
                                <label class="checkbox-color-label" for="checkbox-color-or">
                                    <span>OR</span>
                                </label>
                            </li>
                            <li class="filter-color-items">
                                <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                <label class="checkbox-color-label" for="checkbox-color-orange">
                                    <span>ORANGE</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                        <h3 class="size-tiltle">
                            <span>Taille</span>
                        </h3>
                        <h3 class="cut-tiltle">
                            <span>Coupe</span>
                        </h3>
                        <div class="size_cut-column">
                            <ul class="filtre-size_cut-ul">
                                <li class="filter-color-items">
                                    <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                    <label class="checkbox-color-label" for="checkbox-color-orange">
                                        <span>XS</span>
                                    </label>
                                </li>
                                <li class="filter-color-items">
                                    <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                    <label class="checkbox-color-label" for="checkbox-color-orange">
                                        <span>S</span>
                                    </label>
                                </li>
                                <li class="filter-color-items">
                                    <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                    <label class="checkbox-color-label" for="checkbox-color-orange">
                                        <span>M</span>
                                    </label>
                                </li>
                                <li class="filter-color-items">
                                    <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                    <label class="checkbox-color-label" for="checkbox-color-orange">
                                        <span>L</span>
                                    </label>
                                </li>
                                <li class="filter-color-items">
                                    <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                    <label class="checkbox-color-label" for="checkbox-color-orange">
                                        <span>XL</span>
                                    </label>
                                </li>
                                <li class="filter-color-items">
                                    <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                    <label class="checkbox-color-label" for="checkbox-color-orange">
                                        <span>XXL</span>
                                    </label>
                                </li>
                            </ul>
                            <ul class="filtre-size_cut-ul">
                                <li class="filter-color-items">
                                    <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                    <label class="checkbox-color-label" for="checkbox-color-orange">
                                        <span>Skinny</span>
                                    </label>
                                </li>
                                <li class="filter-color-items">
                                    <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                    <label class="checkbox-color-label" for="checkbox-color-orange">
                                        <span>Slim</span>
                                    </label>
                                </li>
                                <li class="filter-color-items">
                                    <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                    <label class="checkbox-color-label" for="checkbox-color-orange">
                                        <span>Taille Large</span>
                                    </label>
                                </li>
                                <li class="filter-color-items">
                                    <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                    <label class="checkbox-color-label" for="checkbox-color-orange">
                                        <span>Droite</span>
                                    </label>
                                </li>
                                <li class="filter-color-items">
                                    <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                    <label class="checkbox-color-label" for="checkbox-color-orange">
                                        <span>Bootcut</span>
                                    </label>
                                </li>
                                <li class="filter-color-items">
                                    <input class="checkbox_style input-checkbox-color_size" id="checkbox-color-orange" type="checkbox" name="color6">
                                    <label class="checkbox-color-label" for="checkbox-color-orange">
                                        <span>Regular</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                </div>
                
            </div>
        </li>
        <li class="filter-nav-dropdown">
            <button class="filter-dropdown-order-button">Ordre<span><img class="order-arrow-target filter-arrow" src="https://www.shareicon.net/data/128x128/2016/09/14/829020_down_512x512.png"></span></button>
            <div class="filter-dropdown-order-content">
                <ul>
                    <li class="filter-order-items">Pull & Gillet</li>
                    <li class="filter-order-items">Pull & Gillet</li>
                    <li class="filter-order-items">Pull & Gillet</li>
                    <li class="filter-order-items">Pull & Gillet</li>
                    <li class="filter-order-items">Pull & Gillet</li>
                    <li class="filter-order-items">Pull & Gillet</li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
<div class="grille-container">
    <div class="grille-title">
        <h1>maillots de bain</h1>
    </div>
    <div class="items-container-extern">
        <div class="items-container-internal">
            <article class="item-article_tag">
                <div class="item-container">
                    <div class="item-link_img-container">
                        <a class="item-img-link">
                            <img class="item-img" src="https://cdn.shopify.com/s/files/1/0293/9277/products/03-21-19_Studio_2_DV_11-06-17_14_TP1711_NeonOrange_CC__4_RG_RG.jpg?v=1554398831">
                        </a>
                    </div>
                    <div class="item-detail-container">
                        <div class="item-name-div">
                            <a class="item-name-link" href="">
                                <h4>Water Sports II Tank Bikini<span> | Neon Orange</span></h4>
                            </a>
                        </div>
                        <div class="item-color-div">
                            <a class="itiem-circle-color-link">
                                <figure class="circle-color"></figure>
                            </a>
                        </div>
                        <div class="item-price-div">
                            <span class="item-current-price">€ 32.99<span class="item-new-price"></span></span>
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </div>

</div>
