@import 'bootstrap-sprockets';
@import 'bootstrap';

$white: white;
$blue: #00174F; 
$blue_back: rgba(0, 23, 79, 0.9);
$button_color: #1A5BFF;
$px_txt_header: 18px;
$police: 'Arial Black';

body{
    padding: 0 !important;
    //background: url(https://media.gucci.com/content/HeroRegularSmall_375x203/1549031411/HeroRegularSmall_S91-FS-HERO-53_001_Default.jpg);
    top: 100px;
}

.main-navbar{
    background: $white;
    border: none;
    font-family: $police, sans-serif;
    margin-bottom: 0px !important;
}
.main-navbar-toggle, .main-navbar-toggle:hover{
    background: $blue !important;
}

.navbar-inverse .main-navbar-header .main-navbar-brand {
    display: block;
    text-align:center;
    float: none;
    vertical-align: top;
    width: 150px;

}

.navbar-inverse .main-navbar-header{
    float: none;
    position: absolute;
    left: 45%;
  }

.dropdown > .custom:focus, .dropdown > .custom:active{
    background: $white !important;
}

.lang-dropdown{
}


.form-control, .btn-default, .btn-default:hover{
    border: none !important;
    text-align: right;
    background: $white;
}

.search-form-control{
    width: 80px !important;
}

.login-button-container{
    width: 142px;
    height: 50px;
}

.login-button, .shopping-bag-button{
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.shopping-bag-container{
    width: 55px;
    height: 50px;
}

.shopping-bag{
    width: 25px;
    height: 25px;
    margin-top: -9px;
}

/*-------- navbar du choix sexe etc ----*/

.second-navbar{
    background: $blue_back;
    border: none;
    font-family: $police, sans-serif;
    margin-bottom: 0px !important;
    border-radius: 0%;
    top:50px;
}

.second-navbar-nav{
    width: 630px;
    float: none !important;
    margin: auto auto!important;
}

/*-------- contenue du choix sexe ----*/


.categories_women-container{
    display: none;
    opacity: 1;
    width: 100%;
    padding: 20px 40px 40px;
    margin: 0 auto;
    top: 100px;
    position: fixed;
    background: $blue_back;
    color: $white;
}
.categories_women-container:hover{
    display: block !important;
}

.categories_women-container-margin_center{
    width: 90%;
    margin: auto;
}

.column-container{
    width: 200px;
    margin-right: 35px;
}
.column-title a:link{
    text-decoration: none;
}
.list-title {
    font-family: $police, sans-serif;
}

.categorie-list{
    list-style-type:none;
    padding:15px 0 0 0;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 300px;
}
.categorie-list li a{
    display: flex;
    padding: 5px 0px;
}
.categorie-list-row{
    font-size: 0.85em;
    display: flex;
    width: 50%;
    margin-right: 15px;
}

/*-------- div se connecter ----*/
/*1.-- div sign_up --*/
.login-sign_up-div{
    display: none;
    position: fixed;
    top: 50px;
    width: 100%;
    background: $blue_back;
    color: $white;
}
.login-sign_up-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0 30px 0;
}

.sign_up-container, .login-container{
    max-width: 500px;
    width: 50%;
    position: relative;
    padding: 0 15px 0 15px;
}
.sign_up-container{
    border-right-style: solid;
    
}

.input-user{
    color: black;
    height: 35px;
    background-color: $white;
}
.input-one-item{
    width: 98%;
}
.input-two-item{
    position: relative;
    width: 48%;
}
.input-two-item-rigth{
    margin-left: 5px;
}

.input-day{
    position: relative;
    float: left;
    width: 32%;
}
.select-month-container::after{
    content: '';
	position: absolute;
	top: 50%; 
	margin-top: -3px;
	right: .75em;  
	display: block; 
    width: 0; 
    height: 0;
	border-color: transparent;
	border-top-color: #444; 
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
}
.select-month-container{
    position: relative;
    float: left;
    margin: 0 8px 0 8px;
	background-color: #fff;
	border: #777 1px solid;
    overflow: hidden;
    width: 32%;
    height: 35px;
    .select-month{
        border:none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -ms-appearance: none;
        border: 0; 
        margin: 0;
        border-radius: 0;
        overflow: hidden;
        text-overflow: ellipsis;

        color: gray;
        background-color: #fff;
        height: 35px;
        width: 100%;
         
    }
}
.input-year{
    position: relative;
    float: left;
    width: 30%;
}

.input-checkbox-terme, .terme-label{
    position: relative;
    float: left;
}
.terme-label{
    width: 410px;
    margin-left: 8px;
}

.input-checkbox-newsletter{
    position: relative;
    float: left;
    width: 50%;
    left: -2px;
}
.newsletter-label{
    position: relative;
    float: left;
    width: 167px;
    left: -46%;
}
.Newsletter-details_terme{
    display: none;
    width: 248px;
    margin-left: 4%;
}

.form-button{
    border-color: #4d7fff;
    font: inherit;
    color: inherit;
    background-color: $button_color;
    cursor: pointer;
    font-family: $police, sans-serif;
    position: relative;
    width: 100%;
    height: 35px;
    font-size: 20px;
    letter-spacing: 3px;
}

/*2.-- div login --*/
.remember-forgot-container{
    .forgot-button{
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        float: right;
        width: 150px;
        text-decoration-line: underline;
        -webkit-text-decoration-line: underline;   
    }
    .input-remember-checkbox-container{
        width: 50%;
        .input-remember-checkbox{
            position: relative;
            float: left;
        }
        label{
            margin-left: 8px;
        }
        label span{
            width: 129px;
        }
    }
    
}




.texte{
    position: relative;
    top: 700px;
    color: red;
}