@import 'bootstrap-sprockets';
@import 'bootstrap';

$white: white;
$blue: #00174F; 
$blue_back: rgba(0, 23, 79, 0.9);
$px_txt_header: 18px;
$police: 'Arial Black';

body{
    padding: 0 !important;
}

.main-navbar{
    background: $white;
    border: none;
    font-family: $police, sans-serif;
    margin-bottom: 0px !important;
}
.main-navbar-toggle, .main-navbar-toggle:hover{
    background: $blue !important;
}

.navbar-inverse .main-navbar-header .main-navbar-brand {
    display: block;
    text-align:center;
    float: none;
    vertical-align: top;
    width: 150px;

}

.navbar-inverse .main-navbar-header{
    float: none;
    position: absolute;
    left: 45%;
  }

.dropdown > .custom:focus, .dropdown > .custom:active{
    background: $white !important;
}

.form-control, .btn-default, .btn-default:hover{
    border: none !important;
    text-align: right;
    background: $white;
}

.search-form-control{
    width: 80px !important;
}

.shopping-bag{
    width: 25px;
    height: 25px;
    margin-top: -9px;
}

/*-------- navbar du choix sexe etc ----*/

.second-navbar{
    background: $blue_back;
    border: none;
    font-family: $police, sans-serif;
    margin-bottom: 0px !important;
    border-radius: 0%;
}

.second-navbar-nav{
    width: 630px;
    float: none !important;
    margin: auto auto!important;
}

/*-------- contenue du choix sexe ----*/


.categories-container{
    display: /*none*/ block;
    width: 100%;
    max-height: 320px;
    padding: 20px 40px 40px;
    margin: 0;
    position: absolute;
    background: $blue_back;
    color: $white;
}

.categories-container:hover{
    display: block !important;
}

.column-title a:link{
    text-decoration: none;
}
.list-title {
    font-family: $police, sans-serif;
}
.categorie-list{
    list-style-type:none;
    padding-top:20px;
    padding-left: 0;
}
.categorie-list li a{
    display: flex;
    padding: 5px 0px;
}


h1{
    position: relative;
    top:200px;
    color: yellow;
}