@import 'bootstrap-sprockets';
@import 'bootstrap';

$white: red;


header {
    top: 0;
    background: $white;
    height: 100px;
    width: 100%;
    
}
.dropdown{
    margin: 50px;
    float: right;
}
ul {

    height : 60 px;
    
    overflow:auto;
    
    }