<header class="comon-header">
    <div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">langues
            <span class="caret">g</span></button>
            <ul class="dropdown-menu">
              <li><a href="about_path">HTML</a></li>
              <li><a href="about_path">CSS</a></li>
              <li><a href="about_path">JavaScript</a></li>
            </ul>
        </div>

        <a> 

        </a>
    </div>
    <div></div>

  </header>