<header class="comon-header">
  <div class="header-all-border">  
      <div class="header-lang-dropdown">
        <span> 
            <a href="#"> 
              <h2 class="header-lang-texte">
                FR<span class="glyphicon glyphicon-chevron-down"></span>
              </h2> 
            </a>
        </span>
        
        <ul class="header-lang-contain">
          <li><a class="header-lang-contain-row" href="#">English</a></li>
          <li><a class="header-lang-contain-row" href="#">Dutch</a></li>
          <li><a class="header-lang-contain-row" href="#">Español</li>
        </ul>
      </div>
      <div>
        <a href="root_accueil">
          <h1>
              <%= title() %> 
          </h1>
        </a>
      </div>
</header>
